.Ethwal{
    font-family: 'Saira', sans-serif;
    animation: fadeIn 1.5s ease 0s 1 normal;
    -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
    background-color: aliceblue;
    border-radius: 30px;
}
/* .eth-list-content{
    list-style: none;
    display: flex;
    justify-content: center;
} */
/* じわっと画像が表示される */
@keyframes fadeIn { /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
    0% {opacity: 0} /* 始め */
    100% {opacity: 1} /* 終わり */
}
/*古いブラウザ用*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@media screen and (min-width:1024px) {
    /*　for PC　*/
    .Ethwal{
        padding: 20px 20px 20px 20px;
    }
    .eth-list-content{
        list-style: none;
        display: flex;
        justify-content: center;
    }
    .ethwal-title{
        font-size: 40px;
    }
    .ethwal-text{
        margin-right: 40px;
    }
    .ethwal-detail{
        margin: 30px 0 0 0 ;
        font-size: 16px;
    }
    .ethwal-img{
        width: 300px;
    }
}

@media screen and ( max-width:1023px) {
    /*　for iPad 　*/
    .Ethwal{
        padding: 10px 0 10px 0;
    }
    .eth-list-content{
        list-style: none;
        padding-left: 0px;
        
    }
    .ethwal-title{
        font-size: 30px;
    }
    .ethwal-detail{
        margin: 10px 0 0 0;
        font-size: 13px;
    }
    .ethwal-img-container{
        text-align: center;
    }
    .ethwal-img{
        width: 100%;
        max-width: 300px;
    }
    .ethwal-content{
        margin:10px;
    }
}