.wantgo{
    font-family: 'Saira', sans-serif;
    animation: fadeIn 1.5s ease 0s 1 normal;
    -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
    background-color: antiquewhite;
    border-radius: 30px;
}
/* じわっと画像が表示される */
@keyframes fadeIn { /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
    0% {opacity: 0} /* 始め */
    100% {opacity: 1} /* 終わり */
}
/*古いブラウザ用*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.wantgo-img{
    border-radius: 25px;
}

.list-content{
    list-style: none;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:1024px) {
    /*　for PC　*/
    .wantgo{
        padding: 20px 0px 20px 20px;
    }
    .wantgo-img{
        height: 350px;
    }
    .wantgo-text{
        margin-top: 15px;
    }
    .wantgo-content{
    }
    .wantgo-title{
        font-size: 40px;
        margin: 0;
        margin-left: 150px;
    }
    .wantgo-detail{
        font-size: 16px;
        margin-left: 150px;
    }
}

@media screen and ( max-width:1023px) {
    /*　for iPad 　*/
    .wantgo{
        padding: 10px 0px 0px 0px;
    }
    .wantgo-img{
        width: 130px;
    }
    .wantgo-sub-detail{
        display: none;
    }
    .list-content{
        padding-left: 20px;
    }
    .wantgo-content{
    }
    .wantgo-text{
        padding: 35px 10px 0 10px;
        text-align: left;
    }
    .wantgo-title{
        font-size: 30px;
    }
    .wantgo-detail{
        font-size: 13px;
        padding: 0 0 10px 0;
    }
}