.Photo{
    font-family: 'Saira', sans-serif;
    animation: fadeIn 1.5s ease 0s 1 normal;
    -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
}
/* じわっと画像が表示される */
@keyframes fadeIn { /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
    0% {opacity: 0} /* 始め */
    100% {opacity: 1} /* 終わり */
}
/*古いブラウザ用*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@media screen and (min-width:1024px) {
    /*　for PC　*/
    .photo-item{
        background-color: gainsboro;
        height: 700px;
        width: 100%;
        object-fit: contain;
    }
}

@media screen and ( max-width:1023px) {
    /*　for iPad 　*/
    .photo-item{
        background-color: gainsboro;
        height: 50%;
        width: 100%;
        object-fit: contain;
    }
}